sentence-transformers
sentencepiece
instructor-embeddings
fastapi
sqlalchemy
uvicorn
PyPDF2
torch
transformers
numpy
langchain
langchain-community
pydantic
langchain-chroma
tiktoken
chromadb
dotenv
python-multipart